{% extends 'base.html.twig' %}

{% block title %}Nordic Indiana - Jeux
{% endblock %}

{% block content %}
<section class="game">
{% include './components/_memo.html.twig' %}
{% include './components/_quizz.html.twig' %}
</section>
{% endblock %}
