

/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
    height: 80vh;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 5rem;
    z-index: 10;
    
}
.carousel-caption p{
    color: #fff !important ;
  font-weight: bold;
  text-shadow: 1px 1px 5px #070707;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.carousel-item{
    background-size: cover;
    height:100vh;
    object-fit: cover !important;
}
.carousel-caption .header-content{
  color: #5A5A5A !important ;
  font-weight: bold;
  text-shadow: 0px 0px 1px #E18D0E;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}


@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}