*{
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  cursor: url(./photos/cursor.png), auto; 
}
a{

}
p{
  text-shadow: 1px 1px 2px white;
  font-size: 1.5em ;
  font-weight: bold;
}
.bg-image {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.bg-image::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./photos/immersion.JPG);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoomAnimation 45s infinite alternate; /* Ajustez la durée et le style d'animation selon vos préférences */
  z-index: -5;
  width: 100%;

}

@keyframes zoomAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
} 
.transparent {
  height: 100%;
  width: 80%;
  padding: 2rem 5rem;
  background-color: rgba(255, 255, 255, 0.575);
  margin-top: 20vh;
  margin: 0 auto;
}

.transparent div {
  width: 100%;
  margin: 0 auto;
}

.transparent p {
  font-size: 1.05rem;
  line-height: 1.45rem;
  font-family: sans-serif;
}

/* GLOBAL START */

h1{
  font-size: 3rem;
    color: #E18D0E;
font-weight: 600;
    text-shadow: 3px 5px 2px #333;
}

/* GLOBAL END */

/* NAVABAR START */
.header-image {
  width: 90%; /* Set the width to 80% to match the navbar width */
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Ensure the image covers the entire container */

}
.dropdown-menu {
  background-color: transparent !important;
  border: none !important;
}
nav{
    background: rgb(255,255,255);
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 53%, rgba(255,255,255,1) 100%); */
    width: 90%;
      margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-item{
  background: rgb(255,255,255);
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 53%, rgba(255,255,255,1) 100%); */
  margin:2px;
  border-radius: 5px;
  width: auto ;
  justify-content: center;
}
.navCustom{
  justify-content: center;
  margin: 0 auto;
}
.nav-link{
  border: #050505;
}
.custom-button {
  background: rgba(255, 255, 255, 0.8);
border: 2px solid #2DAAE1;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  margin-top: 5px;
  /* Ajoutez d'autres styles spécifiques au besoin */
}
.custom-button:hover {
color: #E18D0E;
  text-shadow: 0px 0px 1px #5A5A5A;
}

nav, .nav-link, .navbar-brand,.navbar-item-custom, nav a, footer a {
    color: #5A5A5A;
    font-weight: bold;
    text-shadow: 0px 0px 1px #E18D0E;
    font-size: calc(16px + 0.1vw);
}
.nav-link:hover, .navbar-brand:hover,.navbar-item-custom:hover, nav a:hover, footer a:hover{
    color: #E18D0E ;
    text-shadow: 0px 0px 1px #5A5A5A;
}

.logo1{
    width: 60px;
    height: 60px;
    z-index: 300;
    top: 2%;
}
.navbar-item-custom{
  margin-left: 120px;
}
/* NAVABAR END */

/*  GALERIE DEBUT */
.commentTilte {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
      }
    
      .cont-gallery {  
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto ;
        gap: 10px 9px ;
        width: 100%;
        justify-content: center;
        
      }
    
      .gallery-item {    
    margin-bottom: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        
      }
      
      .gallery-item img {
        display: block;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
      }

/* Styles for Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  max-width: 800px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.gallery-item {
  scroll-snap-align: center;
  flex-shrink: 0;
}

.galeryPict {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 2px solid #fff;
  cursor: pointer;
}
/* PAGE INSCRIPTION START */
.block-small{
  max-width: 40vw;
  margin: 0 auto;
}
/* PAGE INSCRIPTION end */
/* PAGE COMMANDE  START*/
.form-check{
    background-color: #fff;
    padding: 10px 40px;
    margin-top: 7px;
    border-radius: 1%;
  }
.col-form-label{
  font-weight: bold;
}

.order-sumary{
  background-color: #fff;
  padding: 20px;
  margin-top: 7px;
  border-radius: 1%;
}
/* PAGE COMMANDE END */

/* FOOTER START */
.footer-custom{
    text-align: center;
    padding-top: 5px;
    margin-bottom: -15px;
    position: absolute;
    width: 100% ;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(193,192,192,1) 53%, rgba(255,255,255,0.7763480392156863) 100%);
  font-size: 1rem !important;
}

/* NAVABAR END */

/* PAGE ACTIVIT2 PRODUIT DEBUT */
.product-item h4{
  text-transform: uppercase;

}
.product-item .product-subtitle{
  display: block;
  margin-bottom: 6px;
}
.product-item img{
height: 40vh;
width: 50vw;
object-fit: cover;
}

/* activity start */

.actiBlock{
  -webkit-box-shadow: inset -1px 3px 8px 5px #2DAAE1, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #2DAAE1, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  margin-bottom: 15px;
  border-radius: 5px;
  width: auto ;
  padding: 5px ;
  display: flex;
  box-sizing: border-box;
}
.actiBlock a{
  text-decoration: none;
  color: #333;
  font-weight: bold ;

}
.actiBlock a:hover{
  text-decoration: none;
  color: #E18D0E;
  
}
.actiBlock:hover{
  border: 1px solid #E18D0E;
  border-radius: 5px;
}
.presentation{
  width: 60px;
  height:60px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 25px;
}

.actiGal img {
  
  object-fit: cover;
}
.actiTitle{
  color: transparent;
  font-size: 2rem ;
  font-weight: 900;
  color: #E18D0E;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
/* activity end */

/* card gallery */

.cardgallery{
  margin:30px;
  justify-content:center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.cardgallery img{
  width:300px;
  height:300px;
  object-fit:cover;
}

/* team IMG */

 .game .score, .game .advice {
  text-align: center;
  color: #fff;
  font-size: clamp(25px, 7vw,70px);
  font-weight: 300;
}
.game h1 span{
  font-weight: 800;
}
.game .advice{
  font-size: clamp(16px, 2.5vw, 25px);
  margin-top: 10px;
}
.game .score{
  font-size: clamp(16px, 2.5vw, 20px);
margin-top: 15px;
}
.game img {
  width: 30px;
}
.gridGame{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  min-width: 300px;
  gap: 10px;
  margin: 30px auto 0;
}
.cardGame{
  aspect-ratio: 1/1;
  perspective: 1000px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2 ease-out;
}
.cardGame:hover{
  transform: scale(1.02);
    cursor: grab;
}
.double-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.6s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.face, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;

}
.face img, .back img {
  width: 100%;
}
.back{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.face{
  transform: rotateY(180deg);
}
.activeGame{
  transform: rotateY(180deg);
}
/* QUIZ START */
.game{
  padding: 25px;
  margin: 20 px 0;
  border-radius: 5px;
}
/* QUIZ END */

/* rajout */


/* Quiz Start */
.question-block {
background-color: #f1f1f1;
padding: 25px;
margin: 20px 0;
box-shadow: 0 5px 10px rgba(104, 104, 104, 0.5);
}
.question-block > div {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.question-block h4{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.question-block label, .question-block input[type="radio"]{
  cursor: pointer;
}
.question-block label {
  font-size: 20px;
}
.question-block input[type="radio"]{
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

 .btn-game{
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fff;
  min-width: 200px;
  padding: 15px 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
 .btn-game:hover{
  background-color: #a5a5a5;
  text-shadow: 1px 1px 1px #050505;
  color: white;
}
.results{
  padding: 20px;
  margin: 10px 0px 70px;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}
.results h2{
  font-size: 22px;
  font-weight: 400;
}
.results h2 span {
  font-weight: 700;
}
.resultsh2, .help {
  text-align: center;
}
.help, .mark{
  display: none;
  margin-top: 20px;
}
.help{
  font-size: 20px;
}
.mark{
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}
.mark-span{
  font-weight: 700;
}
/* Quiz end */

/* video start */
.video-container {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 5px;
  background-color: #E18D0E;
}
video {
  width: 100%;
  height: auto;
}

/* video end */

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  .clickable-image {
    cursor: pointer;
  }
.zoneText{
  background-color: red;
}

  @media screen and (min-width: 200px) and (max-width : 400px) {
    .start{
      width: 100vw;
    }

      .transparent{
        width:130vw !important;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.400);
        margin-left: -50px;
      }
      .custom-button {
        margin-left: 15vw;
         }
    }
    @media screen and (min-width: 400px) and (max-width : 450px) {

      .gridGame{
        margin-left: -25px !important;
      }
    }
      @media screen and (min-width: 360px) and (max-width : 380px) {

        .gridGame{
          margin-left: -15px !important;
        }
  
      }
      @media screen and (min-width: 340px) and (max-width : 360px) {

        .gridGame{
          margin-left: -15px !important;
        }
  
      }
      @media screen and (min-width: 310px) and (max-width : 340px) {

        .gridGame{
          margin-left: -50px !important;
        }
  
      }
    @media screen and (min-width: 200px) and (max-width : 450px) {

        .transparent{
          width:100%;
          margin-top: 20vh;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.700);
        }


      }

  @media screen and (min-width : 400px) and (max-width : 800px) {
  .cont-gallery{
    width:100%;
  }
  .custom-button {
 margin-left: 45vw;
  }
  .transparent{
    width:100%;
    margin-top: 20vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.700);
  }
  .transparent p {
    line-height: 1.45rem;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    /* margin-left:-50px; */
  }
  p{
    text-shadow: 1px 1px 2px white;
    font-size: 3em;
  }

  }
  @media screen and (min-width : 400px) and (max-width : 500px) {

    .transparent{
      width:100%;
      margin-top: 20vh;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.800);
    }
  }
  @media screen and (max-width : 1199px) {
    .navCustom{
  flex-direction: column;
  }
  .transparent{
    margin-top: 20vh;
  }

  }
  @media screen and (min-width : 1400px) {
    .nav-item{
      margin-left: 30px;
    }
    .transparent{
    margin-top: 20vh;
  }
  }
  @media screen and (min-width : 1260px) and (max-width: 1399px) {
    .nav-item{
      margin-left: 15px;
    }
  }
  @media screen and (min-width : 800px) and (max-width : 1200px) {
    .custom-button {
      margin-left: 45vw;
       }
    }
