{% extends 'base.html.twig' %}

{% block title %}Nos activités
{% endblock %}

{% block content %}
	<div class="row">
		<h1 class="col-md-12 text-center mt-5 mb-3">Nos Activités</h1>

		{% for product in products %}
			<div class="d-flex">
				<div class="actiBlock d-block mb-3">
					<a href="{{ path('app_product', { 'slug' : product.slug }) }}" class="d-flex align-items-center justify-content-center">
						<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="presentation">
						<h6 class="fw-bold">{{ product.name }}</h6>
					</a>
				</div>
			</div>
		{% endfor %}

	{% endblock %}
                                                                {# test de navbar  #}

