    <div class="mt-5 mb-5"></div>
    <footer class="footer-custom">
        <p>&copy; 2023 Nordic Indiana.<span class="ml-5"><a href="#">Privacy</a> &middot; <a href="#">Terms</a></span></p>
        <p>Crédit photographique des photos présentes sur ce site :<a class="voykanLink" target="_blank" href="https://voykancraftphotography-1.jimdosite.com/"> Voykan Craft</a>  Aurélie GRIMOUX </p>
    </footer>