	<h1>Jeux des
			<span>cartes mémoires</span>
		</h1>
		<p class="advice">Tentez de gagner avec le moins d'essais possible</p>
        <div class="score">Nombre de coups : 0</div>
		<div class="gridGame">
			<div class="cardGame" data-attr="troupe">
				<div class="double-face ">
					<div class="face">
						<img src="./assets/css/photos/troupe.jpg" alt="troupe">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="Jerem pict">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/jeremy2.jpg" alt="Jeremy pict">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="tipi">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/_DSC7844.jpg" alt="Meute devant tipi">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="meute">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/meute.jpg" alt="meute">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="chenil">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/chenil.jpg" alt="chenil">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="aurelie pict">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/aurelie.jpg" alt="aurelie pict">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="troupe">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/troupe.jpg" alt="troupe">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="tipi">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/_DSC7844.jpg" alt="meute devant tipi">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="aurelie pict">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/aurelie.jpg" alt="Aurelie pict">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="Jerem pict">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/jeremy2.jpg" alt="Jeremy pict">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="chenil">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/chenil.jpg" alt="chenil">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
			<div class="cardGame" data-attr="meute">
				<div class="double-face">
					<div class="face">
						<img src="./assets/css/photos/meute.jpg" alt="meute">
					</div>
					<div class="back">
						<img src="./assets/css/png/intero.png" alt="icone de question" class="">
					</div>
				</div>
			</div>
        </div>
		<button class="restart btn btn-block p-2 mt-5 text-center bg-light" onclick="restartMemo()">Recommencez . </button>