<h1 class="m-5">
	<span>Quizz</span>
	Culture musher.
</h1>

<div class="global-container">

	<form class="quiz-form">

		<div class="question-block">
			<h4>Le Husky est dans le même groupe que l’un de ces chiens, lequel ?</h4>
			<div>
				<input type="radio" id="Akita" name="q1" value="a" checked>
				<label for="Akita">Akita Inu</label>
			</div>
			<div>
				<input type="radio" id="Doberman" name="q1" value="b">
				<label for="Doberman">Doberman</label>
			</div>
			<div>
				<input type="radio" id="Berger" name="q1" value="c">
				<label for="Berger">Berger Allemand</label>
			</div>

		</div>
		<div class="question-block">
			<h4>Le Husky descend du ... ?</h4>
			<div>
				<input type="radio" id="Loup" name="q2" value="a" checked>
				<label for="Loup">Loup</label>
			</div>
			<div>
				<input type="radio" id="Tchouktches" name="q2" value="b">
				<label for="Tchouktches">Chien des Tchouktches</label>
			</div>
			<div>
				<input type="radio" id="Samoyede" name="q2" value="c">
				<label for="Samoyede">Samoyède</label>
			</div>

		</div>


		<div class="question-block">
			<h4>En qu'elle année a-t-on amené des huskys en Alaska ?</h4>
			<div>
				<input type="radio" id="Nine" name="q3" value="a" checked>
				<label for="Nine">1932</label>
			</div>
			<div>
				<input type="radio" id="Height" name="q3" value="b">
				<label for="Height">1805</label>
			</div>
			<div>
				<input type="radio" id="Here" name="q3" value="c">
				<label for="Here">Ils étaient déjà là-bas</label>
			</div>

		</div>
		<div class="question-block">
			<h4>Apres combien de temps les bébés huskys ouvrent-ils les yeux ?</h4>
			<div>
				<input type="radio" id="Twenty" name="q4" value="a" checked>
				<label for="Twenty">20 à 25 jours</label>
			</div>
			<div>
				<input type="radio" id="Two" name="q4" value="b">
				<label for="Two">2 à 4 jours</label>
			</div>
			<div>
				<input type="radio" id="Ten" name="q4" value="c">
				<label for="Ten">10 à 15 jours</label>
			</div>

		</div>

		<div class="question-block">
			<h4>Que dit une légende tchouktche à propos du Husky ?</h4>
			<div>
				<input type="radio" id="Etoile" name="q5" value="a" checked>
				<label for="Etoile">Il est né de l’amour d’une étoile et de la neige</label>
			</div>
			<div>
				<input type="radio" id="Soleil" name="q5" value="b">
				<label for="Soleil">Il est né de l’amour du soleil et de la lune</label>
			</div>
			<div>
				<input type="radio" id="Vent" name="q5" value="c">
				<label for="Vent">Il est né de l’amour du vent et de la neige</label>
			</div>
		</div>
		<button type="submit" class="btn-game">Valider</button>
	</form>
	<div class="results">
		<h2>Cliquez sur
			<span>valider</span>
			pour voir les
			<span>résultats</span>.</h2>
		<p class="mark"></p>
		<p class="help"></p>
	</div>

</div>
