<div class="social">
<a href="https://www.facebook.com/NordicIndiana?locale=fr_FR" target="_blank">
    <div class="social-btn color-facebook">
      <img src="./assets/images/facebook.png" alt="facebook">
    </div>
  </a>
  <a href="#" target="_blank">
    <div class="social-btn color-instagram">
      <img src="./assets/images/insta.png" alt="instagram">
    </div>
  </a>

</div>
